{% include "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forgot pass.css' %}">
</head>
<body>
    <div class="forgot-password-container">
        <h1>Forgot Password</h1>
        <p>Enter your email, and we'll send you</p>
        <p>instructions on how to reset your</p>
        <p> password.</p>
        <form method="post">
            {% csrf_token %}
            <div class="input-group">
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <button type="submit" class="reset-btn"><a href="{% url 'emailsent' %}">Send Email</a></button>
            <p class="back-to-login-link"><a href="{% url 'Login' %}">Back to Log in page</a></p>
        </form>
    </div>
</body>
</html>
