{% include "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reset pass.css' %}">
</head>
<body>
    <div class="reset-password-container">
        <!-- Reset Password Heading -->
        <h2>Reset Password</h2>
        <p> Type your new password</p>
        
        <!-- Password Reset Form -->
        <form method="POST">
            {% csrf_token %}
            <div class="input-group">
                <input type="password" id="new-password" name="new-password" placeholder="New Password" required>
            </div>
            <button type="submit" class="reset-btn">update</button>
        </form>
        <div class="back-link">
            <a href="{% url 'Login' %}" class="link">Back to Log in page</a>
        </div>
    </div>
</body>
</html>

